.o-hero {
    position: relative;
    min-height: 100vh;

    .o-rhythm__container {
        position: relative;
    }

    &__top {
        height: 100vh; 
        padding-top: 218px;
    }

    &__titles {
        margin-top: 60px;
        max-width: 800px; 
        width: 100%;

        @include breakpoints("tablet") {
            padding-left: 160px;
        }

        .x5 {
            white-space: normal;
        }

        * {
            max-width: 100%; 
            overflow-wrap: break-word;
        }
    }

    &__subtitles {
        max-width: 800px; 
        width: 100%;

        @include breakpoints("tablet") {
            padding-left: 160px;
        }
    }

    h1 {
        width: 800px; 

        &.-after {

            &:after {
                content: '*'; 
                display: inline-block;
            }
        }

        &.-before {

            &:before {
                content: '*'; 
                display: inline-block;
            }
        }
    }

    h3 {
        margin: 0 0 280px 0;
    }

    h6 {
        color: get-color("neutral", "light-gray"); 
        position: absolute;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        top: 50%; 
        left: 0;
        height: 124px; 
        display: none;

        @include breakpoints("tablet") {
            display: block;
        }
    }
}