.m-footer {
    padding: 66px 0;

    a {
        @include font-size("base");
        color: get-color("neutral", "light-gray");
        font-family: $font-primary;

        @include breakpoints("tablet") {
            @include font-size(18px);
        }
    }

    &__left,
    &__right {

    }

    &__left {

        img {
            width: 120px; 
        }
    }

    &__right {

        @include breakpoints("tablet") {
            text-align: right;
        }
    }

    &__contact, 
    &__social {
        display: inline-block;
    }

    &__contact {
        position: relative;
        margin: 40px 0;

        @include breakpoints("tablet") {
            margin: 0 20px 0 0;

            &:after {
                content: ''; 
                width: 2px; 
                height: 100%; 
                display: block; 
                position: absolute;
                top: 0;
                right: -10px; 
                background: get-color("primary", "fresh"); 
            }
        }
    }

    &__social {
        vertical-align: middle;

        a {
            display: inline-block;
            width: 20px; 
            height: 20px; 
            margin-right: 20px;
        }
    }
}