.a-button {
    @include font-size("smallest");
    color: get-color("primary", "white"); 
    font-family: $font-secondary;
    border-bottom: 1px solid get-color("primary", "fresh"); 
    text-transform: uppercase; 
    font-weight: 400;

    &.-disabled {
        color: get-color("neutral", "light-gray"); 
        pointer-events: none;
    }
}
