.a-radio {
    position: absolute; 
    opacity: 0;

    &:checked + label {
        color: white; 

        &:before, 
        &:after {
            content: "";
            position: absolute;
            display: inline-block; 
            z-index: -1; 
        }

        &:before {
            top: 50%; 
            transform: translateY(-50%);
            height: 2px; 
            left: -30px;
            right: -20px; 
            background: get-color("primary", "fresh");
        }

        &:after {
            right: -19px;
            top: 12px; 
            width: 16px;
            height: 16px;
            border-right: 2px solid get-color("primary", "fresh");
            border-top: 2px solid get-color("primary", "fresh");
            transform: rotate(45deg);
        }
    }

    & + label {
        @include font-size(32px); 
        position: relative;
        padding: 0 16px;
        background: get-color("primary", "after-hours"); 
        color: get-color("neutral", "light-gray"); 
        z-index: 1;

        &:hover {

            &:before, 
            &:after {
                content: "";
                position: absolute;
                display: inline-block; 
                z-index: -1; 
            }
    
            &:before {
                top: 50%; 
                transform: translateY(-50%);
                height: 2px; 
                left: -30px;
                right: -20px; 
                background: get-color("primary", "fresh");
            }
    
            &:after {
                right: -19px;
                top: 12px; 
                width: 16px;
                height: 16px;
                border-right: 2px solid get-color("primary", "fresh");
                border-top: 2px solid get-color("primary", "fresh");
                transform: rotate(45deg);
            }
        }
    }
}

